.side-pane {
    position: fixed;
    left: -310px; /* Hide the pane off-screen */
    top: 5px;
    bottom: 5px;
    width: 300px;
    overflow: auto;
    background: #28b362;
    opacity: 1;
    border-radius: 20px;
    padding: 10px;
    padding-right: 50px;
    transition: left 0.3s ease;
}

h1 {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
    margin: 1em;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

h2 {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
    margin: 1em;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    opacity: 0.7;
    margin-top: 0;
    margin: 1em;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

a:hover {
    text-shadow: none;
    color: #186f3c;
    opacity: 0.5;
    overflow-y: auto; /* Enable vertical scrolling */
}

.side-pane:hover {
    left: 0; 
}

.arrow-icon {
    font-size: 32px; 
    color: #fff;
    position: absolute; 
    top: 50%; 
    left: 10px; 
    position: fixed;
    transition: right 0.3s ease;
}

.side-pane:hover .arrow-icon {
    opacity: 0; 
    transition: left 0.3s ease;
}